<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class = "ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[%d{HH:mm:ss.SSS}][%-5level][%thread][%M] (%file:%line\) %msg%n%ex{full}</pattern>
		</encoder>
	</appender>
    
    <appender name="ROLLING-FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}][%-5level][%thread][%M] (%file:%line\) %msg%n%ex{full}</pattern>
        </encoder>
        <file>./log/currentLog.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>./log/log.%d{yyyy-MM-dd}.gz</fileNamePattern>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ROLLING-FILE"/>
    </root>

</configuration>